@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;

    font-family: 'Raleway', sans-serif;
}

body{
    margin: 30px;
}

h3{
    font-size: 20px;
}

.container{
    width: 450px;
    padding: 10px;

    margin: auto;

    color: rgb(54, 91, 160);
    font-size: 48px;
    text-shadow: 2px 2px 8px white;
    text-align: center;

    background-color: rgb(157, 191, 255);

    border: 1px solid lightgray;
    border-radius: 10px;

    position: relative;
}

#counter{

    position: absolute;
    top: 40%;
    left: 50%;

    display: none;

    transform: translate(-50%, -50%);
}

#timer{
    width: 80%;

    margin:auto;

    position: relative;
}

#pause{
    display: none;
}

.mic{
    width: 40%;
    margin-bottom: 10px;
}

.controls{
    width: 400px;
    
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;

    background-color: rgb(54, 91, 160);
    box-shadow: 2px 2px 8px gray;

    border-radius: 150px;

    position: relative;
}

.btn{

    width: 35px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;

    background-color: lightsteelblue;
    border-radius: 100px;

    position: relative;
    top:5px;
}

.btn:hover{
    background-color: rgb(169, 204, 250);
    box-shadow: 2px 2px 8px white;
}

.btn:active{
    background-color: rgb(255, 119, 119);
}
